<ion-toolbar  class="background">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="background">
 
  <ng-container *ngFor="let x of datasrv.orders|async;">
    <span *ngIf="x.id==id">

<h2>{{x.type}} request details</h2>

<ng-container *ngFor="let y of datasrv.vehicles|async;">
  <span *ngIf="y.customerid == x.customerid"> 
  <span *ngIf="y.id == x.car"> 
  <ng-container *ngFor="let z of datasrv.users|async;">
<span *ngIf="z.id == x.customerid">
  <br>
  <h3>  &nbsp; &nbsp;Request information</h3>

<ion-card >
  <ion-item lines="none">
    <ion-icon class="icon" src="/assets/id.svg"> </ion-icon> &nbsp; <p> : {{x.id}}</p> 
  </ion-item>
  <ion-item lines="none">

    <ion-icon class="icon" src="/assets/date.svg"> </ion-icon> <p *ngIf="x.date"> &nbsp; : {{x.date?.toDate() | date:'d-M-y h:mm a'}}</p> 
</ion-item>

<ion-item lines="none">
<ion-icon class="icon" src="/assets/status.svg"> </ion-icon> &nbsp; <p> : {{x.status}}</p> 
</ion-item>
<ion-item lines="none">
  <ion-icon class="icon" src="/assets/customer.svg"> </ion-icon> &nbsp; <p> : {{z.name}}</p> 
</ion-item>
<ion-item lines="none">
  <ion-icon class="icon" src="/assets/mobile.svg"> </ion-icon> &nbsp; <p> : {{z.mobile}}</p> 
</ion-item>
<ion-item lines="none">
  <ion-icon class="icon" src="/assets/car.svg"> </ion-icon> &nbsp; <p> : {{y.company}} - {{y.series}}</p> 
</ion-item>

<ion-item lines="none">
  <ion-icon class="icon" src="/assets/plate.svg"> </ion-icon> &nbsp; <p> : {{y.plateno}}</p> 
</ion-item>
<span *ngIf="x.type=='Flat tyre'">

  <p> &nbsp; &nbsp;Spare tyre availablity: {{x.spare}}</p> 

</span>
<span *ngIf="x.type=='Fuel'">

  <ion-item lines="none">
    <ion-icon class="icon" src="/assets/fuel.svg"> </ion-icon> &nbsp; <p> : {{x.spare}} </p> 
  </ion-item>   
  </span>   
</ion-card>
</span>
  </ng-container>
  </span>
  </span>
</ng-container>

<span *ngIf="x.notes!=null">
<h3>  &nbsp; &nbsp;Customer notes</h3>
<center>

<ion-item lines="none"class="roundedInput">
  <ion-textarea readonly [(ngModel)]="x.notes" ></ion-textarea>
  </ion-item>
</center>
  </span>

<center>
    <ion-button  class="price" aria-readonly fill="outline">
      <ion-label>Price: {{x.price}} BD</ion-label>
    
    </ion-button>
  </center>
<br>


    </span>
</ng-container>
  


</ion-content>
