<ion-toolbar  class="background">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="background">

<h2>{{type}} request</h2>

<br><br>
<h3>&nbsp;&nbsp;&nbsp;&nbsp;Selected Vehicle:</h3>
<ng-container *ngFor="let x of datasrv.vehicles|async;">
  <span *ngIf="x.customerid == id"> 
  <span *ngIf="x.id == car"> 

<ion-card >
 
  <ion-item lines="none">
    <ion-icon class="icon" src="/assets/car.svg"> </ion-icon> &nbsp; <p> : {{x.company}} - {{x.series}} - {{x.year}}</p> 
  </ion-item>

  <ion-item lines="none">
    <ion-icon class="icon" src="/assets/plate.svg"> </ion-icon> &nbsp; <p> : {{x.plateno}}</p> 
  </ion-item>
</ion-card>
  </span>
  </span>
  
</ng-container>

<h3>&nbsp;&nbsp;&nbsp;&nbsp;Select location:</h3>
<center>
  <ion-card>
<google-map height="400px"
            width="350px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="addMarker($event)"
            (mapMousemove)="move($event)"
            (mapRightclick)="removeLastMarker()">
  <map-marker #marker
              *ngFor="let markerPosition of markerPositions"
              [position]="markerPosition"
              [options]="markerOptions"
              (mapClick)="openInfoWindow(marker)"></map-marker>
  <map-info-window>Info Window content</map-info-window>
</google-map>
</ion-card>
<div class="locbutton">
</div>
</center>
<span *ngIf="type=='Flat tyre'">
<h3>&nbsp;&nbsp;&nbsp;&nbsp;Do you have a spare tyre ? <br>

<center>
  <ion-radio-group  (ionChange)="Handler($event)" value="biff">
   
    <ion-radio slot="start" value="yes"></ion-radio>

      <ion-label>Yes</ion-label>
 &nbsp;  &nbsp;
      <ion-radio slot="start" value="no"></ion-radio>

      <ion-label>No</ion-label>
    
  </ion-radio-group>
</center>
</h3>
</span>
<span *ngIf="type=='Fuel'">
  <h3>&nbsp;&nbsp;&nbsp;&nbsp;Select Fuel type: <br>
  
  <center>
    <ion-radio-group  (ionChange)="Handler($event)" value="biff">
     
      <ion-radio slot="start" value="Jayyed"></ion-radio>
  
        <ion-label>Jayyed</ion-label>
   &nbsp;  &nbsp;
        <ion-radio slot="start" value="Mumtaz"></ion-radio>
  
        <ion-label>Mumtaz</ion-label>
      
    </ion-radio-group>
  </center>
  </h3>
  </span>


<h3>&nbsp;&nbsp;&nbsp;&nbsp;Pricing:</h3>

<ion-card>
  <span *ngIf="type=='Tow'">
    <h5>&nbsp; &nbsp;Estimated price: &nbsp; &nbsp; 7BD-10BD</h5>
</span>
<span *ngIf="type=='Flat tyre'">
  <span *ngIf="spare=='yes'">

   <h5>&nbsp; &nbsp;Estimated price: &nbsp; &nbsp; 2BD-5BD</h5>
   </span>
   <span *ngIf="spare=='no'">

    <h5>&nbsp; &nbsp;Estimated price: &nbsp; &nbsp; 8BD-50BD</h5>
    </span>
</span>
<span *ngIf="type=='Door lock'">
    <h5>&nbsp; &nbsp;Estimated price: &nbsp; &nbsp; 3BD-5BD</h5>
</span>
<span *ngIf="type=='Battery charge'">
   <h5>&nbsp; &nbsp;Estimated price: &nbsp; &nbsp; 2BD-5BD</h5>
</span>
<span *ngIf="type=='Fuel'">
    <h5>&nbsp; &nbsp;Estimated price: &nbsp; &nbsp; 3BD-5BD</h5>
</span>

  <h5>&nbsp; &nbsp;Payment method:&nbsp; &nbsp;Cash 
  </h5>
</ion-card>

<h3>&nbsp;&nbsp;&nbsp;&nbsp;Additional notes:</h3>
<center>
<ion-item class="roundedInput">
  
<ion-textarea rows="4" [(ngModel)]="notes" ></ion-textarea>
</ion-item>
<br>
<ion-button (click)="confirm(notes)"> Confirm request </ion-button>
</center>




</ion-content>
