.message-input {
    width: 100%;
    border: 1px #232E43;
    border-color:#232E43; ;
    border-radius: 6px;
    background: #fff;
    resize: none;
    margin-top: 0px;
    --padding-start: 8px;
    font-family: poppins;
}
 
.message {
    padding: 10px !important;
    border-radius: 10px !important;
    margin-bottom: 4px !important;
    white-space: pre-wrap;
    font-family: poppins;

}
 
.my-message {
    background: #374969;
    color: white;
    font-family: poppins;

}
 
.other-message {
    background:#04ADB2;
    color: white;
    font-family: poppins;

}
 
.time {
    color: #dfdfdf;
    float: right;
    font-size: small;
    font-family: poppins;

}
ion-toolbar{
    --background: #04ADB2;
    --color: white;
    font-family: poppins;
    ion-back-button{
      //  --background: #232E43;
        --color:  #232E43;
    }
}
ion-content{
    --background:#f3f6ff;
    --ion-background-color:#f3f6ff;}

    ion-icon{
        --background: #04ADB2;
    --color: #04ADB2;
    }
 ion-icon{
    --background: #232E43;
    --color:  #232E43;
    color:  #04ADB2;

 }