

<ion-content class="background">


  <br><br> <br><br> <br><br> <br><br> <br><br>
<h2 class="top">Welcome Back! </h2><br><br>

    <ion-item class="roundedInput">
      <ion-input [(ngModel)]="username" placeholder="Enter email">  </ion-input><br>
    </ion-item>

      <br> 
      <ion-item class="roundedInput">

    <ion-input  [(ngModel)]= "password" type="password" placeholder="Enter password">  </ion-input>
    </ion-item>
    <br>
    
   &nbsp;  &nbsp;  &nbsp;  &nbsp; 
   &nbsp;  &nbsp;  &nbsp;  &nbsp;  
    &nbsp;  &nbsp;  &nbsp;  &nbsp;<ion-button (click)="login(username,password)" style="text-align:center">Sign in </ion-button>

<br>
<ion-item lines="none">
  &nbsp;  &nbsp; 
    &nbsp; &nbsp;
    &nbsp;  &nbsp; 
    &nbsp;  &nbsp; &nbsp; <ion-label > <a href="\resetpass" >Forgot your password?</a> </ion-label> 
</ion-item>

<ion-item lines="none">
  &nbsp;  &nbsp;   &nbsp;  &nbsp;  <ion-label > <a href="\signup" >You don't have an account? Sign up</a> </ion-label> 
</ion-item>

    

  </ion-content>
