

<ion-content class="background">


  <br><br> <br><br> <br><br> <br><br> <br><br>
<h2 class="top">Welcome backk! </h2><br><br>

    <ion-item class="roundedInput">
      <ion-input [(ngModel)]="username" placeholder="Enter email">  </ion-input><br>
    </ion-item>

      <br> 
      <ion-item class="roundedInput">

    <ion-input  [(ngModel)]= "password" type="password" placeholder="Enter password">  </ion-input>
    </ion-item>
    <br>
    
   &nbsp;  &nbsp;  &nbsp;  &nbsp; 
   &nbsp;  &nbsp;  &nbsp;  &nbsp;  
    &nbsp;  &nbsp;  &nbsp;  &nbsp;<ion-button (click)="login(username,password)" style="text-align:center">Sign in </ion-button>





    

  </ion-content>
