.back{
    --ion-background-color:#f3f6ff;
    on-title{
        font-size: 15px;
      
      }
      h2{
          color: #04ADB2;
          text-align: center;
          font-size: 40px;
          font-family:poppins;
      }
      
      ion-card{
       ion-item{
        --ion-background-color: #232E43;;
         color: #232E43;;
       }
       
        background-color:  #232E43;
        width: 340px;
        height: 150px;
      }
      img{
      width: 30px;
        margin: auto;
        display: block;
        height: 30px;
      }
    
      
      p{
    
        
        text-align:center;
        font-size: 24px;
        font-weight: bold;
        color:#232E43;
        font-family: poppins;;
      
      }
      
      ion-button{
    
      font-size: 15px;
      font-weight: bold;
       --background:#04ADB2;
      }}
    



  .background{
--background:#f3f6ff;
ion-menu-button{
color:#232E43;

}
  }
  a{
    text-decoration: none;
  }