<ion-toolbar  class="background">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>


<ion-content class="back">
  <br><br>
<h2>Logo</h2>
  <h2>Contact us</h2>

<br>

  <p>Here is how you can reach us: </p>
  <ion-list lines="none">
<br>
  <ion-item>
<img src="assets/instagram.png"> 
<img src="assets/twitter.png">
<img src="assets/facebook.png">
</ion-item>
<br><br>
<ion-item>
  &nbsp; <ion-icon name="mail-outline"></ion-icon>  &nbsp; &nbsp; <p>help@appname.com</p>

</ion-item>

<ion-item>
  &nbsp;  <ion-icon name="call-outline"></ion-icon>  &nbsp; &nbsp; <p>17367877</p>

</ion-item>
</ion-list>

</ion-content>
