.background{
    --ion-background-color: #232E43;;
img{
 
    height: 170px;
    width: 170px;
    -webkit-animation:swing-top-fwd .4s cubic-bezier(.25,.46,.45,.94) both;animation:swing-top-fwd .4s cubic-bezier(.25,.46,.45,.94) both
}
h2{
font-size: 40px;
text-align: center;
font-family: poppins;
color: white;
}

}