
<ion-content class="back">
  <br> <br>
<h2> Request service</h2>  <div class="label">
    <ion-list lines="none">
  
  <ion-card>
    <br><br>
  <ion-item >
      <br>
      <p> Tow truck <br></p> 
      <div style="display: flex; align-items: center;justify-content: center;">
        &nbsp;  &nbsp;  <img  src="assets/tow-truck.png"></div>
   &nbsp;  &nbsp;  &nbsp;<ion-button>   Request</ion-button>   
        </ion-item>
  </ion-card>
  <div class="blue">
  <ion-card >
    <br><br>
  <ion-item >
      <br>
      <p> Flat &nbsp; tyre  </p> 
      <div style="display: flex; align-items: center;justify-content: center;">
        &nbsp;    &nbsp; <img  src="assets/flat-tire.png"></div>
   &nbsp;  &nbsp;  &nbsp;<ion-button>   Request</ion-button>   
        </ion-item>
  </ion-card>
</div>
<ion-card>
  <br><br>
<ion-item >
    <br>
    <p> Battery change </p> 
    <div style="display: flex; align-items: center;justify-content: center;">
        <img  src="assets/accumulator.png"></div>
 &nbsp;  &nbsp;  &nbsp;<ion-button>   Request</ion-button>   
      </ion-item>
</ion-card>
<div class="blue">
<ion-card >
  <br><br>
<ion-item >
    <br>
    <p> Door lock  <br></p> 
    <div style="display: flex; align-items: center;justify-content: center;">
      <img  src="assets/car-rental.png"></div>
 &nbsp;  &nbsp;  &nbsp;<ion-button>   Request</ion-button>   
      </ion-item>
</ion-card>
</div>
<ion-card>
  <br><br>
<ion-item >
    <br>
    <p> Out of fuel  <br></p> 
    <div style="display: flex; align-items: center;justify-content: center;">
      &nbsp;  &nbsp;  <img  src="assets/fuel.png"></div>
 &nbsp;  &nbsp;  &nbsp;<ion-button>   Request</ion-button>   
      </ion-item>
</ion-card>

</ion-list>
  </div>
  
  </ion-content>
  
  
