<ion-toolbar  class="background">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="back">
  
<h2> Request service</h2>  <div class="label">
    <ion-list lines="none">
  
  <ion-card>
    <br><br>
  <ion-item >
      <br>
     
      <div style="display: flex; align-items: center;justify-content: center;">
        &nbsp;  &nbsp;  <img  src="assets/tow-truck2.png"></div>
   &nbsp;  &nbsp;  &nbsp;<ion-button (click)="tow()">   Request</ion-button>   
 
        </ion-item>
        <ion-label>  </ion-label>
  </ion-card>
  <div class="blue">
  <ion-card >
    <br><br>
  <ion-item >
      <br>
     
      <div style="display: flex; align-items: center;justify-content: center;">
        &nbsp;    &nbsp; <img  src="assets/flat-tire2.png"></div>
   &nbsp;  &nbsp;  &nbsp;<ion-button>   Request</ion-button>   
        </ion-item>
  </ion-card>
</div>
<ion-card>
  <br><br>
<ion-item >
    <br>
   
    <div style="display: flex; align-items: center;justify-content: center;">
        <img  src="assets/accumulator3.png"></div>
 &nbsp;  &nbsp;  &nbsp;<ion-button>   Request</ion-button>   
      </ion-item>
</ion-card>
<div class="blue">
<ion-card >
  <br><br>
<ion-item >
    <br>
    
    <div style="display: flex; align-items: center;justify-content: center;">
      <img  src="assets/car-rental2.png"></div>
 &nbsp;  &nbsp;  &nbsp;<ion-button (click)="door()">   Request</ion-button>   
      </ion-item>
</ion-card>
</div>
<ion-card>
  <br><br>
<ion-item >
    <br>
   
    <div style="display: flex; align-items: center;justify-content: center;">
      &nbsp;  &nbsp;  <img  src="assets/fuel2.png"></div>
 &nbsp;  &nbsp;  &nbsp;<ion-button>   Request</ion-button>   
      </ion-item>
</ion-card>

</ion-list>
  </div>
  
  </ion-content>
  
  
