
  <ion-toolbar>
    <ion-buttons slot="start">
     
  
     
  
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>

<ion-content class="background">

  <br> <center>
    <div class="logo">
    <img  src="assets/Tasleeh Icon.png">
    </div>
    </center> 
 <h2> Sign Up</h2>
 <br>
 <form [formGroup]="myForm" (ngSubmit)="onSubmit(name,email,password,mobile)" novalidate>

  <ion-item class="roundedInput">
    <ion-input formControlName="name"  placeholder="Enter your full name">  </ion-input><br>
  </ion-item>
  <span class="x" *ngIf=" submitted &&  errorCtr.name.errors?.required">
  &nbsp; &nbsp; &nbsp; &nbsp; Name is required.
  </span>
  <span class="x" *ngIf="  errorCtr.name.errors?.minlength">
    &nbsp; &nbsp; &nbsp; &nbsp; Min 3 chars long.
  </span>
<br>
  <ion-item class="roundedInput">
  <ion-input formControlName="email" type="text" placeholder="Enter your Email">  </ion-input><br>
</ion-item>
<span class="x" *ngIf="submitted &&  errorCtr.email.errors?.required">
  &nbsp; &nbsp; &nbsp; &nbsp;Email is required.
</span>
<span class="x" *ngIf=" errorCtr.email.errors?.pattern">
  &nbsp; &nbsp; &nbsp;&nbsp; Enter valid email.
</span>
<br>
<ion-item class="roundedInput">
  <ion-input maxlength="8" formControlName="phone" type="text" required  placeholder="Enter your mobile number">  </ion-input><br>
</ion-item>
<span class="x" *ngIf=" submitted &&  errorCtr.phone.errors?.required">
  &nbsp; &nbsp; &nbsp;&nbsp; Phone number is required.
</span>
<span class="x" *ngIf=" errorCtr.phone.errors?.pattern">
  &nbsp;&nbsp; &nbsp; &nbsp; Number values allowed.
</span>
<br>
<ion-item class="roundedInput">
  <ion-input  formControlName="password" type="password" placeholder="Enter password">  </ion-input><br>
</ion-item>
<span class="x" *ngIf="submitted && errorCtr.password.errors?.required">
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;Password is required.
</span>
<span class="x" *ngIf=" errorCtr.password.errors?.pattern">
  &nbsp;&nbsp; &nbsp; &nbsp;Password must contain atleast 8 letters including numbers One lowercase and one uppercase letter 

</span>
<br>
<ion-item class="roundedInput">
  <ion-input   formControlName="cpassword"  type="password" placeholder="Confirm password">  </ion-input><br>
</ion-item>
<span class="x" *ngIf="submitted &&  errorCtr.cpassword.errors?.required">
  &nbsp; &nbsp; &nbsp; &nbsp;Confirmation password is required.
 </span>
 <span class="x" *ngIf=" errorCtr.cpassword.errors?.pattern">
  &nbsp; &nbsp; &nbsp; &nbsp;Password and confirmation password must match values allowed.
 </span>
<br>
<center>
 <ion-button type="submit" style="text-align:center" > Register </ion-button>
</center>
</form>
<center>
<ion-label>Already have an account? <a class="link" href="login">sign in</a></ion-label>
</center>
</ion-content>
