<ion-toolbar  class="background">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="background">

<h2>Pending Requests</h2>
<br>
  <ng-container *ngFor="let x of datasrv.orders| async;" >
   
      <span *ngIf="x.status=='pending'">
<ion-card (click)="details(x.id,x.latitude,x.longtitude)">
<h3> &nbsp; {{x.type}} request {{x.id}}</h3>
<p> &nbsp; <ion-icon name="calendar-outline"></ion-icon> &nbsp;{{x.date | date:'d-M-y h:mm a'}}</p>
<p> &nbsp;  <ion-icon name="sync-circle-outline"></ion-icon> &nbsp; {{x.status}}</p>
</ion-card>
</span>
</ng-container>

</ion-content>
