<ion-toolbar  class="background">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>
<ion-content class="background">
  <br>
<h2>Payment statement</h2>
<center>

<ion-card class="dark">
  <h6>Net profit : {{net}} BD</h6> 
</ion-card>
</center>

<h5>&nbsp;&nbsp;&nbsp;&nbsp;Service earnings</h5>
<ion-card >
<ion-row>
  <ion-col size="5">
    <h4> Date</h4>

  </ion-col>
  <ion-col>
    <h4> Problem</h4>

  </ion-col>
  <ion-col>
    <h4> Earnings</h4>

  </ion-col>
</ion-row>
<ng-container *ngFor="let x of datasrv.orders| async;" >
  <span *ngIf="x.providerid==id">
     <span *ngIf="x.status=='completed'">

      <ion-row>
        <ion-col size="5">
          <p (click)="details(x.id,x.providerid)"> &nbsp;  {{x.date | date:'d-M-y h:mm a'}}</p>
      
        </ion-col>
        <ion-col>
          <p (click)="details(x.id,x.providerid)"> &nbsp; {{x.type}}</p>
      
        </ion-col>
        <ion-col>
          <p (click)="details(x.id,x.providerid)"> &nbsp; {{x.price}} BD</p>
      
        </ion-col>
      </ion-row> 

</span>
</span>
</ng-container>
</ion-card>
<center>

<ion-card class="dark">
  <h6>Total earnings : {{profit}} BD</h6> 
</ion-card>
</center>
<center>

<ion-card class="dark">
  <h6>Tasleeh tax 15% : {{tax | number: '1.00'}} BD</h6> 
</ion-card>
</center>

</ion-content>


