<ion-toolbar  class="background">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>

    <ion-back-button></ion-back-button>

  </ion-buttons>
</ion-toolbar>
<ion-content class="background">
  <br><br>
  <ng-container *ngFor="let x of datasrv.users|async;">
  <span *ngIf="x.id == id"> 
    <h2> {{x.name}}'s profile</h2>

<br><br>
 <h3>  &nbsp;  &nbsp;  &nbsp;Name:</h3>

  <ion-item class="roundedInput">
    <ion-input [(ngModel)]="x.name"> <ion-icon  name="create-outline"></ion-icon> </ion-input><br>
  </ion-item>

    <br>
     <h3>&nbsp;  &nbsp;  &nbsp;Email:</h3>

    <ion-item class="roundedInput">

  <ion-input   type="email" disabled > {{x.email}} </ion-input>
  </ion-item>
<br>
 <h3> &nbsp;  &nbsp;  &nbsp;Mobile number:</h3>

  <ion-item class="roundedInput">

    <ion-input  [(ngModel)]= "x.mobile" type="number" >  <ion-icon  name="create-outline"></ion-icon></ion-input>
    </ion-item>
     <br>
    &nbsp;  &nbsp;     &nbsp;  &nbsp;    &nbsp;  &nbsp;  &nbsp;     &nbsp;  &nbsp;
       &nbsp;  &nbsp; &nbsp;  &nbsp;<ion-button (click)="update(x)"  style="text-align:center">Update profile </ion-button>
    </span>
      </ng-container>
      
</ion-content>
