
       
       .background{
        --background:#f3f6ff;
        ion-menu-button{
          color: #232E43; 
        }
        .background{
        
               --ion-background-color:#f3f6ff;
           }
           h2{
             font-size: 35px;
             text-align: center;
            font-family:poppins;
               font-weight:700 ;
            color:#04ADB2;
           }
                  ion-card{
            
                background-color: #04ADB2;
            }
            
            
            p{
                font-family:poppins;
            
              
                font-size: 15px;
                font-weight: bold;
                color: aliceblue;
              
              }
              h3{
                color:#232E43; ;
                font-family:poppins;

              }
              google-map{
                border-radius: 10px;
                
              }
    }
    .roundedInput {
      font-family:poppins;
  ion-textarea{
      font-family:poppins;
    
  }
  ion-input{
    font-family:poppins;
font-size: 14px;
  }
  width: 80%;

      --border-color:#232E43; ;
      --border-radius: 30px;
      --border-width: 1px;
      --box-shadow: 2px rgb(255, 255, 255);
      --highlight-height: 0;
      --background: none;
     }
     .roundedInput {
      font-family:poppins;
  ion-textarea{
      font-family:poppins;
    
  }
  ion-input{
    font-family:poppins;
font-size: 14px;
color: #232E43 !important; //placeholder color
--placeholder-color:#232E43 !important;
--placeholder-opacity: 2;
  }
  width: 80%;

      --border-color:#232E43; ;
      --border-radius: 30px;
      --border-width: 2px;
      --box-shadow: 2px rgb(255, 255, 255);
      --highlight-height: 0;
      --background: none;
     }
     .locbutton{
      ion-button{
        font-family:poppins;
    
           left: 30%;
    width: 80%;
       color: #ffffff;
        font-weight: bold;
        --border-color: white;
        --border-radius: 30px;
        --border-width: 1px;
        --box-shadow: 2px rgb(255, 255, 255);
        --highlight-height: 0;
        font-size: 13px;
        --background: #232E43;
       } 
     }
     ion-button{
      font-family:poppins;
  
         left: 30%;
  width: 40%;
     color: #ffffff;
      font-weight: bold;
      --border-color: white;
      --border-radius: 30px;
      --border-width: 1px;
      --box-shadow: 2px rgb(255, 255, 255);
      --highlight-height: 0;
      font-size: 18px;
      --background: #04ADB2;
      height: 40px;
     } 
   
    h5{
      color: #ffffff;
      ion-icon{
        right: 0px;
     bottom: 0px;
        width: 30px;
        height: 30px;
      }
      font-family: poppins;
    }
  a{
    
   color:  white
  }
 