<ion-toolbar  class="background">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="back"> <div class="label">

  <ng-container *ngFor="let x of datasrv.users|async;">
    <span *ngIf="x.id == id" >
    <span *ngIf="x.type == 'provider'"> 
<br>
<center>
      <img  style="width:290px;" src="assets/tasleeh logo light.png">
    </center>
      <ion-list lines="none"> 
  <br>
        <ion-card routerLink="/current/{{id}}">
          <center>
                <img  src="assets/active.png">
              </center>
        </ion-card>
        <div class="blue">
          <ion-card routerLink="/providerrequest/{{id}}">
            <center>
                  <img  src="assets/pending.png">
                </center>
          </ion-card>
      </div>
      <ion-card routerLink="/payment/{{id}}">
        <center>
              <img  src="assets/p.png">
            </center>
      </ion-card>
      </ion-list>
  </span> 



  <span *ngIf="x.type =='customer'">
    <center>
    <img style="width:290px;" src="assets/tasleeh logo light.png">
  </center>
    <ion-list lines="none"> 
  <br>
  <ion-card routerLink="/services/{{id}}">
    <center>
          <img  src="assets/serv.png">
        </center>
  </ion-card>
      <div class="blue">
        <ion-card routerLink="/activerequest/{{id}}">
          <center>
                <img  src="assets/req.png">
              </center>
        </ion-card>
    </div>
    <ion-card routerLink="/addvehicle/{{id}}">
      <center>
            <img  src="assets/addv.png">
          </center>
    </ion-card>
    </ion-list>

  </span>
</span>
</ng-container>
</div>
</ion-content>
